# when updating this file, check other ignore files for needed items

# allow these folders -- these can be ignored (over-ridden) below, try not to do that.
!/pages/**/*
!/components/**/*
!/src/**/*

src/_generated

# remove *.md from .markdownlintignore and add .*
*.md
.*

# any local project ignores should go here
src/hooks/gql/_generated/**/*

# file exclusions -- these will over-ride any above allowed directories
package.json
*.txt
*.yml
env.*
tsconfig.json
tsconfig.*.json
*.lock
*lock.json
*.keep
CHANGELOG.md
*.config.js
*.css

# folder exclusions
**/eyerate/lib/**
**/eyerate/types/docs/**
**/.vscode/**
**/.husky/**
**/.git/**
**/.github/**
.build/**
/build/**
/node_modules/**
/storybook-static/**
/coverage/**
/docs/**
/jsdoc/**
/templates/**
/tests/**
/logs/**
/tmp/**
/tools/**
/public/**
/assets/**
**/test/**
**/__tests__/**
**/__test__/**
.next
/index.html
/dist/**
/vite.config.ts
/commitlint.config.cjs
/jest.config.ts
